@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-main: "Work Sans", sans-serif;
    /* colors */
    --purple: #ad28eb;
    --White: hsl(0, 0%, 100%);
    --Light-pink: hsl(275, 100%, 97%);
    --Grayish-purple: hsl(292, 16%, 49%);
    --Dark-purple: hsl(292, 42%, 14%);
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('/assets/images/background-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--Light-pink);
    font-family: var(--font-main);
}

/* utilities */

p {
    font-size: 16px;
    color: var(--Grayish-purple);
}

h1, h2 {
    color: var(--Dark-purple)
}

/* main */

.container {
    width: 52rem;
    height: max-content;
    /* max-height: 55rem; */
    padding: 4rem;
    border-radius: 1.5rem;
    background-color: var(--White);
    box-shadow: 0px 0px 60px -35px rgba(0,0,0,0.75);
}

.accordion {
    display: flex;
    align-items: first center; 
    justify-content: start;
    flex-direction: row;
    margin: 1rem 0rem 2rem 0rem;
}


.accordion-title {
    margin: 0rem 0rem 0rem 2rem; 
    font-size: 5.8rem;
}

.faq {
    padding: 2.5rem 0rem;
}

.faq-border {
    border-bottom: 1px solid rgb(0, 0, 0, 8%);
}

.faq-display {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faq-question {
    font-weight: 600;
    font-size: 1.8rem;
    margin: 0rem 0rem;
}

.faq-question:hover {
    cursor: pointer;
    color: var(--purple);
    transition: color .35s ease;
}
.faq-btn {
    border: none;
    height: 3rem;
    width: max-content;
    border-radius: 50%;
    padding: 0rem;
    background-color: transparent;
}

.faq-btn:hover {
    cursor: pointer;
}

.faq-answer {
    margin: 2.32rem 0rem 0rem 0rem;
    line-height: 2rem;
}


/* JS */

/* .faq-img__minus {
    background-image: url('/assets/images/icon-minus.svg');
} */

.display-block {
    display: block;
}

.display-none {
    display: none;
}

